{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "no-shadow": "off",
    "prefer-arrow-callback": [ "error", { "allowNamedFunctions": true } ],
    "no-console": "off",
    "object-curly-newline": [ "error", { "ObjectPattern": { "multiline": true } } ],
    "function-paren-newline": [ "error", "consistent" ]
  }
}
