service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /users/{userId} {
      allow create, read: if request.auth.uid != null;
      allow update, delete: if request.auth.uid == userId;
    }
    match /sends/{send} {
      allow read;
      allow create: if request.auth.uid != null;
      allow update, delete: if request.auth.uid == resource.data.userId;
    }
    match /clears/{clear} {
      allow read;
      allow create: if request.auth.uid != null;
      allow update, delete: if request.auth.uid == resource.data.userId;
    }
    match /sendMaps/{sendMap} {
      allow read;
      allow write: if request.auth.uid == sendMap;
    }
    match /sendLists/{sendList} {
      allow read;
      allow write: if request.auth.uid == sendList;
    }
  }
}
