.Plan-sector {
  pointer-events: all; /* allows :hover events on fill="none" */
  stroke: inherit; /* fixes strokes going black on <a> */
  cursor: pointer;
}

.Plan-sector:hover .Plan-sector-highlight {
  fill: red;
  fill-opacity: .3;
  box-shadow: 5px 10px;
}
.Plan-sector:focus .Plan-sector-highlight {
  fill: red;
  fill-opacity: .3;
}
